@import url(https://fonts.googleapis.com/css?family=Ubuntu:300);

body {
  padding: 100px;
  background: #eee;
  font-size: 3.2vw;
  font-weight: bold;
  line-height: 1.2;
  font-family: 'Ubuntu';
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-size: 1.3em;
  line-height: 2;
  text-rendering: optimizeLegibility;
  text-align: center;
}

.wrap {
  text-align: center;
  vertical-align: middle;
  margin-bottom: 100px;
  background: white;
  padding-bottom: 100px;
  -webkit-box-shadow: 0px 40px 60px -20px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 40px 60px -20px rgba(0, 0, 0, 0.2);
}

h1 {
  padding: 50px;
}

.spinner {
  width: 100px;
  height: 100px;
  background: #eee;
  border-radius: 50%;
  position: relative;
  margin: 50px;
  display: inline-block;
}

.spinner:after, .spinner:before {
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.spinner-1:after {
  /* background: pink; */
  position: absolute;
  top: -4px;
  left: -4px;
  border: 4px solid transparent;
  border-top-color: #f1c40f;
  border-bottom-color: #f1c40f;
  animation: spinny 1s linear infinite;
}

@keyframes spinny {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(145deg) scale(1.2);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

.spinner-2 {
  animation: spin 2s linear infinite;
}

.spinner-2:before, .spinner-2:after {
  height: 20px;
  width: 20px;
  background: #ff0f80;
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -10px;
}
.spinner-2:after {
  background: #2980b9;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner-2:after {
  top: auto;
  bottom: -10px;
  animation: bouncy 0.5s ease-in infinite;
}

@keyframes bouncy {
  0%, 100% {
    transfrom: translateY(0px);
  }
  50% {
    transform: translateY(30px);
  }
}


.spinner-3 {
  background: none;
  border: 4px solid #eee;

}

.spinner-3:after {
  width: 4px;
  height: 66px;
  background: orangered;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -2px;
  animation: spin 2s linear infinite;
  transform-origin: top center;
}



.spinner-4:before, .spinner-4:after {
  background: #53ecbb;
  animation: pulse 3s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  opacity: 0;
}

.spinner-4:after {
  animation: pulse 2s linear 2.3s infinite;
}
@keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1.3);
    opacity: 0;
  }
}

.spinner-5 {
  height: 0px;
  width: 0px;
}

.spinner-5 span {
  display: block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  top: -80px;
  position: absolute;
}

.spinner-5 span:nth-child(1) {
  background: #FF96B2;
  left: -40px;
  animation: bounce 1.1s ease-in infinite;
}

.spinner-5 span:nth-child(2) {
  background: #9CADCE;
  animation: bounce 1.1s ease-in 0.33s infinite;

}

.spinner-5 span:nth-child(3) {
  background: #52B2CF;
  left: 40px;
  animation: bounce 1.1s ease-in 0.66s infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(38px);
  }
}
